{
  "CYPRESS_RECORD_KEY": "your-cypress-cloud-record-key",
  "hideCredentials": true,
  "requestTimeout": 10000,
  "defaultCommandTimeout": 10000,
  "pageLoadTimeout": 30000,
  "video": true,
  "screenshotOnRunFailure": true,
  "trashAssetsBeforeRuns": true,
  "chromeWebSecurity": false
}
